
// COLORS//
$color-gray: #cfc5c550;
$color-primary:#ffd700;
$color-secondary:rgba(0, 255, 238, 0.469);
$color-golrod: #daa520;
$color-black:#000;
$color-white:#fff;

//PADDING 
$default-pad: 2rem;


// SHADOW:
  $shadow-dim: 0 0 10px 1px rgba(0, 0, 0,.5);
//FONT SIZE
$default-size: 1.7rem;
