
.info {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 1.3rem;
  place-content: center;
  margin: 9rem auto;

  &__box {
    display: grid;
    place-items: center;
    text-align: center;
    transition: all .4s;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 10rem;
    perspective: 170rem;
    -moz-perspective: 170rem;
  }

  &__side {
    place-items: center;
    width: 100%;
    position: absolute;
    transition: all  cubic-bezier(0,0.55,0.68,1.66) 1s;
    backface-visibility: hidden;
    overflow: hidden;
   }



  &__icon {
    svg {
      width: 6rem;
      height:6rem;
      fill: #746767;
    }

    h4 {
      font-size: 1.4rem;
    }
  }

  &__text {
    transform: rotateX(-180deg);
    p {
      font-size: 1.7rem;
      font-weight: 600;
    }

    a {
      text-decoration: underline;
      color: #000;
      font-size: 1.4rem;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__box:hover &__icon {
    transform: rotateX(180deg);
  }
  &__box:hover &__text {
  
    transform: rotateX(0);
  }
}